.phoinikas-- {
	&img-link {
		display: block;

		img {
			display: block;
		}
	}

	&body-header-global {
		position: relative;
		z-index: 5;

		.phoinikas--wrapper {
			@include mq($rwd-tablet) {
				max-width: 1028px;
			}
			@include mq($rwd-widescreen) {
				max-width: 980px;
			}
		}
	}

	&wrapper.phoinikas--wrapper-global {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		@include mq($rwd-tablet) {
			margin-top: -120px;
		}
		@include mq($rwd-desktop) {
			max-width: 980px;
		}
	}
	@import "_header.scss";
	/*============================
	=            Page: Home            =
	============================*/
	&body-main .phoinikas--wrapper.phoinikas--wrapper-global {
		@include mq($rwd-tablet) {
			padding: 0;
		}
	}

	&section-space {
		@include mq($rwd-tablet) {
			border-bottom: solid 5px $narvik;
		}
	}

	&home-foodmenu-slider {
		.swiper-slide {
			background-color: #000;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	&button-next,
	&button-prev {
		@include size(44px);
		background: url('/img/global/arrow-left.png') no-repeat;
		background-color: rgba(235, 235, 235, 0.8);
		background-position: 50% 50%;
		border-radius: 50%;
		left: 4px;
		margin-top: -20px;
		background-size: 100%;
		@include mq($rwd-desktop) {
			 @include size(106px);
			margin-top: -53px;
		}
	}

	&button-next {
		left: auto;
		right: 4px;
		background-image: url('/img/global/arrow-right.png');
	}

	&banner-wednesday {
		img {
			width: 100%;
		}
		@include mq(450px) {
			a {
				@include col((5.53, 6.47));
				max-width: 100%;
			}
		}
	}

	&flex-row {
		display: flex;
		flex-direction: column;
		@include mq($rwd-tablet) {
			flex-direction: row;
		}
	}

	&inline-row {
		@include clearfix;
	}

	&home-banner-3 {
		background: $sherwoodGreen url('/img/home/bg-healthy_tips_2x.jpg') no-repeat;
		background-size: cover;
		padding: 16px 8px;

		.phoinikas--flex-row {
			align-items: stretch;
			flex-wrap: wrap;
		}

		figure {
			flex: 1 1 calc(50% - 16px);
			margin: 8px;
			display: flex;
			flex-direction: column;

			img {
				display: block;
				width: 100%;
				height: auto;
			}

			figcaption {
				display: flex;
				justify-content: center;
				flex-direction: column;
				flex: 1;
				background-color: #000;
				padding: 12px 8px;
				font-weight: 700;
				color: #fff;
				font-size: em(20);
				line-height: 0.9;
				text-align: center;
			}
		}
		@include mq($rwd-tablet) {
			padding: 16px 2% 32px;

			figure {
				flex: 1 1 calc(25% - 32px);
				margin: 16px;
			}
		}
		@include mq($rwd-desktop) {
			padding-left: 8%;
			padding-right: 8%;
		}
	}

	&home-h2 {
		text-align: center;
		font-family: 'hand_writing';
		font-style: italic;
		text-shadow: 0 0 10px rgba(55, 95, 188, 0.35);
		font-size: em(64);
		margin-bottom: 8px;
		@include mq($rwd-tablet) {
			font-size: em(80);
			margin-bottom: 16px;
		}
	}
	/*=====  End of Page: Home  ======*/
	/*==================================
	=            Page: Menu            =
	==================================*/
	&menu-maincourse,
	&menu-sidedish {
		@include mq($rwd-tablet-max, max) {
			display: flex;
			flex-direction: column;

			img {
				width: 100%;
			}

			&.-beef {
				img {
					&:nth-child(1) {
						order: 2;
					}

					&:nth-child(2) {
						order: 3;
					}

					&:nth-child(3) {
						order: 4;
					}

					&:nth-child(4) {
						order: 1;
					}

					&:nth-child(5) {
						order: 2;
					}
				}
			}

			&.-pork {
				img {
					&:nth-child(1) {
						order: 2;
					}

					&:nth-child(2) {
						order: 3;
					}

					&:nth-child(3) {
						order: 4;
					}

					&:nth-child(4) {
						order: 1;
					}

					&:nth-child(5) {
						order: 5;
					}
				}
			}

			&.-seafood {
				img {
					&:nth-child(1) {
						order: 2;
					}

					&:nth-child(2) {
						order: 1;
					}

					&:nth-child(3) {
						order: 2;
					}

					&:nth-child(4) {
						order: 2;
					}

					&:nth-child(5) {
						order: 2;
					}
				}
			}

			&.-chicken {
				img {
					&:nth-child(1) {
						order: 3;
					}

					&:nth-child(2) {
						order: 3;
					}

					&:nth-child(3) {
						order: 3;
					}

					&:nth-child(4) {
						order: 1;
					}

					&:nth-child(5) {
						order: 2;
					}
				}
			}

			&.-kids {
				img {
					&:nth-child(1) {
						order: 1;
					}

					&:nth-child(2) {
						order: 3;
					}

					&:nth-child(3) {
						order: 3;
					}

					&:nth-child(4) {
						order: 2;
					}

					&:nth-child(5) {
						order: 3;
					}

					&:nth-child(6) {
						order: 3;
					}
				}
			}
		}
		@include mq($rwd-tablet) {
			 @include clearfix;

			img {
				width: auto;
				float: left;
			}
		}
	}
	@include mq($rwd-tablet) {
		&page-menu {
			.phoinikas--wrapper.phoinikas--wrapper-global {
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 120px;
			}
		}

		&menu-maincourse {
			position: relative;
			box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
			/*----------- Menu: Beef -----------*/
			&.-beef {
				$img-beef-1: 46.9%;
				$img-beef-2: 100% - $img-beef-1;

				img {
					&:nth-child(1),
					&:nth-child(5) {
						width: $img-beef-1;
					}

					&:nth-child(2) {
						width: $img-beef-2;
						float: right;
					}

					&:nth-child(3),
					&:nth-child(4) {
						width: ($img-beef-2 / 2);
						float: right;
					}
				}
			}
			/*----------- Menu: Pork -----------*/
			&.-pork {
				$img-pork-1: 46.2%;
				$img-pork-2: (100% - $img-pork-1)*.503;
				$img-pork-3: (100% - $img-pork-1 - $img-pork-2);

				img {
					&:nth-child(1) {
						width: $img-pork-1;
					}

					&:nth-child(2),
					&:nth-child(4) {
						width: $img-pork-2;
					}

					&:nth-child(3),
					&:nth-child(5) {
						width: $img-pork-3;
					}
				}
			}
			/*----------- Menu: Seafood -----------*/
			&.-seafood {
				$img-seafood-1: 53.86%;
				$img-seafood-2: (100% - $img-seafood-1)*0.4975;
				$img-seafood-3: (100% - $img-seafood-1 - $img-seafood-2);

				img {
					&:nth-child(1) {
						width: $img-seafood-1;
					}

					&:nth-child(2),
					&:nth-child(4) {
						width: $img-seafood-2;
					}

					&:nth-child(3),
					&:nth-child(5) {
						width: $img-seafood-3;
					}
				}
			}
			/*----------- Menu: Chicken -----------*/
			&.-chicken {
				$img-chicken-1: 53.66%;
				$img-chicken-2: (100% - $img-chicken-1);
				$img-chicken-3: $img-chicken-2*0.5;

				img {
					&:nth-child(3) {
						width: $img-chicken-1;
						float: right;
					}

					&:nth-child(4),
					&:nth-child(5) {
						width: $img-chicken-2;
					}

					&:nth-child(1),
					&:nth-child(2) {
						width: $img-chicken-3;
					}
				}
			}
			/*----------- Menu: Burgers -----------*/
			&.-burgers {
				$img-burger-1: 53.8%;
				$img-burger-2: (100% - $img-burger-1);

				img {
					&:nth-child(1) {
						width: $img-burger-1;
					}

					&:nth-child(2),
					&:nth-child(3) {
						width: $img-burger-2;
					}
				}
			}
			/*----------- Menu: Kid's Menu -----------*/
			&.-kids {
				$img-kid-1: 43.35%;
				$img-kid-2: (100% - $img-kid-1)*0.5;
				$img-kid-3: (100% - $img-kid-1 - $img-kid-2);

				img {
					&:nth-child(1),
					&:nth-child(4) {
						width: $img-kid-1;
					}

					&:nth-child(2),
					&:nth-child(5) {
						width: $img-kid-2;
						float: right;
					}

					&:nth-child(3),
					&:nth-child(6) {
						width: $img-kid-3;
						float: right;
					}
				}
			}
		}

		&menu-sidedish {
			$img-sidedish-1: 56.34%;
			$img-sidedish-2: 100% - $img-sidedish-1;

			img {
				width: $img-sidedish-2;

				&:nth-child(1) {
					width: $img-sidedish-1;
				}
			}
		}
	}
	@include mq($rwd-desktop) {
		&page-menu {
			.phoinikas--wrapper.phoinikas--wrapper-global {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	/*----------- Combination Menu -----------*/
	&wrapper-combination {
		background-color: $Creole;
	}

	&section-combination {
		display: flex;
		flex-direction: column;
		padding: 16px;
		background-size: cover;
		background-repeat: no-repeat;
		@include mq($rwd-tablet) {
			flex-direction: row;

			.phoinikas--combination-text {
				flex: 0 0 66.66%;

				img {
					width: 74%;
				}
			}
		}

		&.-beef {
			background-image: url('/img/menu/bg-combination-1.jpg');
		}

		&.-platter {
			background-image: url('/img/menu/bg-combination-platter.jpg');
		}
	}

	&combination-text {
		text-align: center;
		margin-bottom: 1em;
		align-self: center;

		img {
			width: 80%;
			max-width: 100%;
		}
	}
	/*----------- Combination Menu -----------*/
	&page-menu {
		&.-combination {
			.phoinikas--wrapper.phoinikas--wrapper-global {
				background-color: $Creole;
			}
			@include mq($rwd-tablet) {
				.phoinikas--wrapper.phoinikas--wrapper-global {
					padding-top: 0;
					background-color: $Creole;
				}
			}
		}
	}

	&section-com-beef-1 {
		img {
			display: block;
		}
	}

	&section-com-beef-2 {
		text-align: center;
		background: url('/img/menu/bg-combination-1.jpg');
		background-size: cover;
		background-position: center center;
		padding: 2em 0;
		@include clearfix;

		div {
			display: block;
			margin: 0 auto 1em;
			align-items: center;

			&:first-child {
				display: flex;
				justify-content: center;

				img {
					width: 80%;
					max-width: 100%;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
		@include mq($rwd-tablet) {
			padding: 2.5em 0;

			div {
				&:last-child {
					padding-right: 1%;
				}
			}
		}
		@include mq($rwd-desktop) {
			div {
				&:first-child {
					img {
						width: 100%;
					}
				}
			}
		}
	}

	&section-com-beef-3 {
		figure {
			padding: 0 8px;
		}

		figcaption {
			text-align: center;
			font-weight: 700;
			font-size: em(21);
			line-height: 1;
			padding: 1.5em 0;
		}
		@include mq($rwd-tablet) {
			figure {
				padding-left: 0;
				padding-right: 5px;

				&:nth-child(2n) {
					padding-left: 5px;
					padding-right: 0;
				}
			}
		}
		@include mq($rwd-desktop) {
			padding: 0 8px;
		}
	}

	&header-com-supreme {
		padding: 2em 1em;

		img {
			max-width: 100%;
			margin: 0 auto;
			display: block;
		}
		@include mq($rwd-tablet) {
			padding-top: 150px;
		}
	}

	&content-com-supreme {
		padding: 0 8px;

		figure {
			padding-right: 8px;
		}

		figcaption {
			text-align: center;
			font-weight: 700;
			line-height: 1;
			padding: 1em;
		}

		img {
			display: block;
			margin-bottom: 8px;
		}
	}

	&badge-new {
		figcaption {
			position: relative;

			&:after {
				content: '';
				@include size(86px 35px);
				background: url('/img/menu/badge-new.png') no-repeat;
				background-size: 100%;
				position: absolute;
				top: 0;
				margin-top: -26px;
				left: 10px;
			}
		}
	}

	&page-menu {
		&.-wednesday {
			.phoinikas--wrapper.phoinikas--wrapper-global {
				background-color: $Woodsmoke;
				padding: 4px 0;
				@include mq($rwd-tablet) {
					padding-top: 150px;
					padding-left: 24px;
					padding-right: 24px;
				}
				@include mq($rwd-desktop) {
					padding-left: 4px;
					padding-right: 4px;
					padding-bottom: 0;
				}
			}
		}
	}

	&section-wed-1 {
		$w-size: 49.8%;
		@include clearfix;

		img {
			float: left;
			height: auto;
			margin-bottom: 4px;

			&:nth-child(1) {
				width: 100%;
			}

			&:nth-child(2),
			&:nth-child(4) {
				width: calc(#{$w-size} - 2px);
				margin-right: 4px;
			}

			&:nth-child(3),
			&:nth-child(5) {
				width: calc(100% - #{$w-size} - 2px);
			}
		}
	}

	&txt-header {
		text-align: center;
		padding: 1.5em 1em;

		img {
			max-width: 100%;
		}
	}

	&section-wed-3 {
		@include clearfix;

		img {
			margin-bottom: 4px;
			float: left;
			display: block;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@include mq($rwd-tablet) {
		&section-wed-1 {
			$w-size: 24.9%;

			img {
				&:nth-child(1) {
					width: calc(50% - 2px);
					margin-right: 4px;
				}

				&:nth-child(2),
				&:nth-child(4) {
					width: calc(#{$w-size} - 3px);
					margin-right: 4px;
				}

				&:nth-child(3),
				&:nth-child(5) {
					width: calc(50% - #{$w-size} - 3px);
				}
			}
		}

		&txt-header {
			padding: 2em 3em;
		}

		&section-wed-3 {
			img {
				width: calc(50% - 2px);

				&:nth-child(2n) {
					margin-left: 4px;
				}
			}
		}
	}

	&page-menu {
		&.-everyday {
			.phoinikas--wrapper.phoinikas--wrapper-global {
				background-color: $Silver;
				@include mq($rwd-tablet) {
					padding-left: 0;
					padding-right: 0;
					padding-top: 0;
				}
			}
		}
	}

	&section-everyday-3 {
		@include clearfix;
		@include mq($rwd-tablet) {
			padding-left: 4px;
			padding-right: 4px;

			figure {
				$width: 57.65%;
				width: calc(100% - #{$width} - 4px);
				margin-bottom: 8px;
				float: left;

				figcaption {
					background-color: #7a7778;
				}

				img {
					width: 100%;
				}

				&:nth-child(1) {
					width: calc(#{$width} - 4px);
					margin-right: 8px;
				}
			}
		}
	}

	&caption-price {
		@include clearfix;
		padding: 1em;

		em {
			font-style: normal;
			font-weight: 700;
			float: left;
			font-size: em(24);
			line-height: 0.9;
			display: inline-block;
			width: 75%;

			span {
				font-size: em(14);
				display: block;
			}
		}

		strong {
			float: right;
			color: #fff;
			width: 20%;
			text-align: right;
			font-family: 'price';
			font-weight: 700;
			font-size: em(20);
			line-height: 1;
		}
	}

	&remark {
		position: relative;
		padding-left: 12px;

		&:before {
			content::  '*';
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	&section-everyday-4 {
		img {
			display: block;
		}
		@include mq($rwd-tablet) {
			margin-bottom: -24px;

			img {
				position: relative;
				top: -24px;
			}
		}
	}

	&page-menu {
		&.-lunch {
			.phoinikas--wrapper.phoinikas--wrapper-global {
				background-color: $Woodsmoke;
				@include mq($rwd-tablet) {
					padding-top: 0;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}

	&section-lunch-1 {
		background-color: $FaluRed;
		@include mq($rwd-tablet) {
			padding-top: 180px;
		}
	}

	&lunch-condition {
		background-color: #000;
		font-weight: 500;
		text-align: center;
		font-size: em(24);
		padding: 8px;
		line-height: 1;
	}

	&section-lunch-2 {
		position: relative;

		figcaption {
			font-size: em(19);
			text-align: center;
			padding: 16px;
		}
		@include mq($rwd-tablet) {
			figcaption {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: auto;
				text-shadow: 0 1px 0 rgba(0, 0, 0, .35);
			}
		}
	}

	&section-lunch-3 {
		figure {
			display: flex;
			flex-direction: column;
			flex: 0 0 33.33%;

			img {
				width: 100%;
			}
		}

		figcaption {
			background-color: #000;
			height: 100%;
		}
		@include mq($rwd-tablet) {
			padding: 8px 4px;

			figure {
				padding: 0 4px;
			}
		}
	}

	&section-lunch-4 {
		img {
			display: block;
			width: 100%;
		}
		@include mq($rwd-tablet) {
			padding: 2px;
		}
	}
	/*----------- Combination: Platter -----------*/
	&page-menu {
		&.-platter {
			.phoinikas--wrapper.phoinikas--wrapper-global {
				background: url('/img/menu/bg-wood.jpg') no-repeat;
				background-position: center center;
				background-size: cover;
				padding: 16px;

				img {
					display: block;
					margin-bottom: 12px;
				}
				@include mq($rwd-tablet) {
					padding-top: 150px;
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}

	&section-platter-1, &section-platter-2 {
		@include clearfix;
		@include mq($rwd-tablet-max, max) {
			display: flex;
			flex-direction: column;

			.phoinikas--platter-header {
				order: -2;
			}
		}
	}
	@include mq($rwd-tablet) {
		&platter-img-big {
			width: calc(50% - 6px);
		}
		&platter-img-small {
			width: calc(25% - 6px);
		}
	}


	&section-platter-1 {

		@include mq($rwd-tablet) {
			.phoinikas--platter-img-big {
				margin-right: 12px;
			}


			.phoinikas--platter-img-small {
				margin-right: 16px;
			}

			.phoinikas--platter-figcaption,
			img {
				float: left;
			}

			.phoinikas--platter-header {
				width: 36%;
				@include mq($rwd-desktop) {
					width: 38%;
				}
			}

			.phoinikas--platter-figcaption:nth-child(3) {
				width: calc(50% - 8px);
			}
		}
	}

	&section-platter-2 {
		@include mq($rwd-tablet) {
			.phoinikas--platter-figcaption,
			img {
				float: right;
			}
			.phoinikas--platter-figcaption {
				text-align: right;
				width: calc(25% - 12px);

				&:nth-child(4) {
					width: calc(50% - 12px);
				}
			}
			.phoinikas--platter-img-big, .phoinikas--platter-img-small {
				margin-left: 12px;
			}
		}
		@include mq($rwd-tablet-max, max) {
			.phoinikas--platter-img-big {
				order: -2;
			}
			.phoinikas--platter-figcaption:nth-child(3) {
				order: -1;
			}
		}
	}

	&platter-figcaption {
		font-weight: 700;
		font-size: em(20);
		line-height: 0.9;
		margin-bottom: 16px;

		em {
			font-style: normal;
			display: block;
			font-size: em(14);
		}
		@include mq($rwd-tablet) {
			&.-bottom {
				margin-top: 15%;
			}
		}
		@include mq($rwd-desktop) {
			font-size: em(28);
		}
		@include mq($rwd-tablet-max, max) {
			text-align: center;

			br {
				display: none;
			}
		}
	}
	/*=====  End of Page: Menu  ======*/
	/*=======================================
	=            Page: Promotion            =
	=======================================*/
	&page-promotion {
		.phoinikas--wrapper.phoinikas--wrapper-global {
			background-color: #000;
			@include mq($rwd-tablet) {
				padding-top: 120px;
				min-height: 600px;
			}
		}
	}

	&banner {
		img {
			display: block;
		}
	}

	&banner-3rdparty {
		background-color: #fff;
		text-align: center;
		padding: 4px;
		@include mq($rwd-tablet) {
			padding: 16px;
		}
	}
	/*=====  End of Page: Promotion  ======*/
	/*=======================================
	=            Page: About            =
	=======================================*/
	&page-about {
		.phoinikas--content {
			background-color: $narvik;
			@include mq($rwd-tablet) {
				background: url('/img/about/bg-about.jpg') no-repeat;
				background-position: center top;
				background-size: cover;
			}
		}

		.phoinikas--content-wrapper {
			color: #000;
			font-size: em(22);
			text-align: center;
			line-height: 1.1;
			padding: 20% 10%;

			h2 {
				margin-bottom: 16px;
				font-size: em(28);
			}

			p {
				font-weight: 400;
				margin-bottom: 32px;
			}
			@include mq($rwd-tablet) {
				padding: 40% 10% 38%;
				line-height: 1.2;
			}
			@include mq($rwd-desktop) {
				padding: 30% 18% 38%;
			}
		}
	}

	&btn-design-1 {
		background-color: $kaitokeGreen;
		color: #fff;
		border-radius: 12px;
		border: solid 2px #fff;
		font-weight: 500;
		font-size: em(15);
		line-height: 40px;
		height: 42px;
		padding: 0 24px;
		margin-top: 24px;
		box-shadow: 0 0 2px rgba(0, 0, 0, .25);
	}
	/*=====  End of Page: About  ======*/
	/*=======================================
	=        					    Page: Career         				   		=
	=======================================*/
	&page-career {
		.phoinikas--content-wrapper {
			background: $narvik url('/img/career/bg-content.jpg') no-repeat;
			background-size: 100% auto;
			font-size: em(19);
			color: $sherwoodGreen;
			padding: 50% em(8) 24px;
			text-align: center;

			strong {
				color: $sherwoodGreen;
				font-size: em(18);
			}
			@include mq($rwd-tablet) {
				padding-left: 8%;
				padding-right: 8%;
			}
		}

		.phoinikas--career-interest {
			background-color: $sangria;
		}
	}

	&career-interest {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 4% 0;
		font-size: em(28);

		strong {
			color: #fff;
			margin-bottom: 8px;
		}
		@include mq($rwd-tablet) {
			flex-direction: row;

			strong {
				margin-bottom: 0;
			}

			button {
				margin-left: 48px;
			}
		}
	}

	&btn-design-2 {
		@extend .phoinikas--btn-design-1;
		margin: 0;
		font-weight: 700;
		border: none;
		background-color: #999;
		border-radius: 0;
		padding: 0 48px;
		height: 48px;
	}
	/*=====  End of Page: Career  ======*/
	/*=============================================>>>>>
	= Page: Contact =
	===============================================>>>>>*/
	&page-contact {
		.phoinikas--wrapper {
			background-color: #fff;
			color: #000;

			h2 {
				text-align: center;
				font-size: em(40);
			}
		}

		.phoinikas--flex-row {
			flex-direction: column;
			padding: 5% 16px;
			color: #4b4b4b;
			font-size: em(24);
			@include mq($rwd-tablet) {
				flex-direction: row;

				article {
					display: flex;
					flex-direction: column;
					order: 2;
					padding: 3%;
				}

				aside {
					padding: 3%;
				}
			}
		}

		.phoinikas--contact-address {
			p {
				line-height: 1;
				margin-bottom: 24px;
			}
		}

		input[type="email"],
		input[type="tel"],
		input[type="text"],
		textarea {
			font-family: 'db_ozone';
			font-weight: 500;
			border: solid 1px #000;
			width: 100%;
			height: em(40);
			padding: 0 em(8);
			box-sizing: border-box;
		}

		textarea {
			height: 200px;
			padding-top: 8px;
			padding-bottom: 8px;
		}
		@include mq($rwd-tablet) {
			.phoinikas--wrapper.phoinikas--wrapper-global {
				padding-top: 20%;
			}

			input[type="email"],
			input[type="tel"],
			input[type="text"],
			textarea {
				padding: 0 16px;
			}

			textarea {
				padding-top: 16px;
				padding-bottom: 16px;
			}
		}
	}

	&bold {
		font-weight: 700;
	}

	&form-row {
		margin-bottom: em(8);
		@include mq($rwd-tablet) {
			margin-bottom: em(16);
		}
	}
	/*= End of Page: Contact =*/
	/*=============================================<<<<<*/
	/*=============================================>>>>>
	= Page: location =
	===============================================>>>>>*/
	&page-location {
		.phoinikas--wrapper.phoinikas--wrapper-global {
			background-image: url('/img/location/bg-wrapper.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			padding: 8px;
			@include mq($rwd-tablet) {
				padding: 120+24px 1em 24px;
			}
		}

		.phoinikas--flex-row {
			flex-direction: column;
			@include mq($rwd-tablet) {
				flex-direction: row;
				flex-wrap: wrap;
			}
		}

		.phoinikas--inline-row {
			@include clear-fix;
		}
	}

	&location-map {
		order: 1;
	}

	&location-select {
		order: 2;
	}

	&location-aside {
		order: 3;
	}

	&ggmap {
		border: solid 1px #222;
		padding-top: 100%;
		position: relative;
		margin-bottom: 1em;
		overflow: hidden;
		display: block;
		width: 100%;

		 > div,
		> iframe {
			position: absolute;
			@include size(100%);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	&location-aside {
		img {
			display: block;
			margin: 0 auto 1em;
		}
	}

	&branch-detail {
		background-color: rgba(255, 255, 255, 0.7);
		color: $sherwoodGreen;
		padding: 1em;
		border: solid 1px #222;
		font-weight: 700;
		font-size: em(24);
	}

	&btn-design-3 {
		@extend .phoinikas--btn-design-2;
		text-transform: uppercase;
		font-size: em(30);
		border-radius: 2px;
		height: 56px;
		background-color: $sherwoodGreen;

		&:disabled {
			background-color: #666;
		}
	}

	&select-custom {
		&.-design-2 {
			.customSelect {
				margin-bottom: 0.5em;
				background-color: transparent;
				height: 56px;
				border: solid 1px #222;

				&:before {
					background: url('/img/location/ic-dropdown.png') no-repeat;
					@include size(11px);
					top: auto;
					margin: 0;
					bottom: 4px;
					right: 4px;
				}

				&.customSelectDisabled {
					.customSelectInner {
						color: #666;
					}
				}
			}

			.customSelectInner {
				font-size: em(22);
				font-weight: 700;
				color: #222;
			}
		}

		& + button {
			margin-bottom: em(16);
			width: 100%;
		}
		@include mq($rwd-tablet) {
			display: block;
			float: left;
			margin-right: 16px;
			width: calc(100% - 222px - 84px - 160px);
			margin-left: 222+40px;

			&.-design-2 .customSelect {
				margin-bottom: 0;
			}

			& + button {
				display: inline-block;
				width: 160px;
			}
		}
	}
	@include mq($rwd-tablet) {
		&location-map {
			order: 2;
			flex: 0 0 calc(100% - 222px);

			.phoinikas--ggmap {
				margin-bottom: 0;
				padding-top: 66.5%;
				min-height: 100%;
			}
		}

		&location-select {
			order: 3;
			margin-top: 1em;
			flex: 0 0 100%;
		}

		&location-aside {
			order: 1;
			width: 222px;
			padding-right: 16px;
			display: flex;
			flex-direction: column;
		}

		&branch-detail {
			display: flex;
			align-items: center;
			height: 100%;
		}
	}
	/*= End of Page: location =*/
	/*=============================================<<<<<*/
	/*=============================================>>>>>
	= Page: Helath Tips =
	===============================================>>>>>*/
	&page-tips {
		.phoinikas--wrapper.phoinikas--wrapper-global {
			background-color: #fff;
			color: #222;
		}
	}

	&tips-header {
		font-family: 'hand_writing';
		text-align: center;
		background: url('/img/tips/bg-header.jpg') no-repeat;
		background-size: cover;
		padding-top: 32%;
		position: relative;

		h2 {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			@include transform(translateY(-60%));
			font-size: em(64);
			font-weight: 400;
			font-style: italic;
			color: #fff;
			@include mq($rwd-tablet) {
				 @include transform(translateY(10%));
				font-size: em(80);
			}
		}
	}

	&tips-list {
		display: flex;
		flex-wrap: wrap;
		padding: 32px 0;
		@include mq($rwd-tablet) {
			padding-left: 64px;
			padding-right: 64px;
		}
		@include mq($rwd-desktop) {
			padding-left: 128px;
			padding-right: 128px;
		}

		.phoinikas--tips-item {
			display: flex;
			flex-direction: column;
			flex: 0 0 50%;
		}
		@include mq($rwd-tablet) {
			.phoinikas--tips-item {
				flex: 0 0 25%;
			}
		}
	}

	&tips-item {
		margin: 32px 0 0;
		padding: 0 8px;

		a {
			display: block;
		}

		&.swiper-slide {
			padding: 0;
		}

		img {
			width: 100%;
			display: block;
			margin-bottom: 16px;
		}

		figcaption {
			height: 100%;

			p {
				height: calc(100% - 17px);
			}

			a {
				color: $sangria;
				text-transform: uppercase;
				font-weight: 700;
				font-size: em(14);

				&:before {
					content: '...';
				}
			}
		}
	}

	&pagination {
		text-align: center;
		padding-bottom: 10%;
	}

	&pagination-circle {
		display: inline-block;
		border: solid 1px #777;
		text-indent: -1000em;
		@include size(10px);
		border-radius: 50%;

		&.-active {
			background-color: #777;
		}
	}
	/*----------- Page: Tips Detail -----------*/
	&detail-aside,
	&detail-content {
		padding: 16px;
		font-size: em(22);

		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}

		h3 {
			font-weight: 400;
			font-size: em(40);
		}

		p {
			margin-bottom: 1em;
			line-height: 1.4;
		}
	}

	&detail-aside {
		flex: 0 0 40%;
	}
	@include mq($rwd-tablet) {
		&detail-row {
			margin-top: 4em;
			padding: 0 2em;
		}
	}

	&detail-swiper {
		padding: 0 54px 64px;
		@include mq($rwd-tablet) {
			padding: 0 64px 64px;
			margin-left: 32px;
			margin-right: 32px;
		}
	}

	&swiper-content {
		position: relative;
		padding: 0 60px 48px;

		.swiper-button-next,
		.swiper-button-prev {
			background-color: transparent;
			width: 30px;
			height: 85px;
			background-size: auto 120%;
			margin-top: -40px;
		}

		.swiper-button-prev {
			background-image: url('/img/global/arrow-left.png');
		}

		.swiper-button-next {
			background-image: url('/img/global/arrow-right.png');
		}

		.swiper-pagination {
			text-align: center;
			left: 50%;
			bottom: 0;
			@include transform(translateX(-50%));
		}

		.swiper-pagination-bullet {
			background-color: #fff;
			border: solid 1px #777;
			margin: 0 4px;
			opacity: 1;
		}

		.swiper-pagination-bullet-active {
			background-color: #777;
		}
	}
	/*= End of Page: Helath = Tips*/
	/*=============================================<<<<<*/
	/*=============================================>>>>>
	= Page: Media =
	===============================================>>>>>*/
	&page-media {
		color: #222;

		.phoinikas--wrapper.phoinikas--wrapper-global {
			background-color: #fff;
			@include mq($rwd-tablet) {
				padding-top: 150px;
			}
		}
	}

	&txt-h2 {
		color: #222;
		text-transform: uppercase;
		font-size: em(31);
		font-weight: 700;
		text-align: center;
		padding: 24px 0;
		letter-spacing: 1.5px;
	}

	&media-tvc {
		padding-bottom: 100px;

		.swiper-pagination {
			bottom: 30px;
		}

		.swiper-button-next,
		.swiper-button-prev {
			margin-top: -80px;
		}

		&:after {
			content: '';
			height: 2px;
			background-color: #5e656d;
			width: calc(100% - 120px);
			position: absolute;
			left: 50%;
			@include transform(translateX(-50%));
			bottom: 0;
		}

		.swiper-slide {
			a {
				display: block;
				position: relative;

				img {
					width: 100%;
				}

				&:before {
					content: '';
					display: block;
					position: absolute;
					@include size(72px);
					background-image: url('/img/media/icon-play.png');
					z-index: 1;
					top: 50%;
					left: 50%;
					margin: -36px 0 0 -36px;
				}
			}
		}
	}

	&media-press {
		padding-bottom: 60px;

		.phoinikas--tips-item {
			margin-top: 0;
		}

		.swiper-pagination {
			bottom: 20px;
		}
		@include mq($rwd-tablet) {
			/*padding-left: 80px;*/
		}
	}
	@include mq($rwd-tablet) {
		&media-press,
		&media-tvc {
			margin: 0 24px;
		}

		&media-press {
			padding-left: 80px;
			padding-right: 80px;
		}
	}

	&page-media.-detail {
		.phoinikas--wrapper.phoinikas--wrapper-global {
			background-color: #cdcdcd;
		}
	}

	&media-detail {
		@include mq($rwd-tablet) {
			padding: 0 24px;
		}
		@include mq($rwd-desktop) {
			padding: 0;
		}
	}

	&detail-youtube {
		height: 0;
		padding-top: 46.65%;
		/*padding-top: 62.5%;*/
		position: relative;
		margin: 0 auto 16px;
		max-width: 812px;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%!important;
			height: 100%!important;
		}
	}

	&media-footer {
		background-color: #fff;
	}

	&caption-youtube {
		font-weight: 700;
		text-align: center;
		font-size: em(26);
		padding: 24px;
		margin: 0 auto;
		max-width: 812px;
		line-height: 1;
	}
	/*= End of Page: Media =*/
	/*=============================================<<<<<*/
}

footer.phoinikas--media-tvc {
	&:after {
		display: none;
	}
}
