/*----------  Responsive Screen Size  ----------*/
$body-max-width: 1140px;
$padding-mobile: em(8);
$padding-tablet: em(16);
$rwd-tablet: 768px;
$rwd-tablet-max: 767px;
$rwd-desktop: 1024px;
$rwd-widescreen: 1140px;
/*----------  Color  ----------*/
$red01: rgba(255, 0, 0, 1.0);
$red02: rgba(235, 26, 33, 1.0);
$red03: rgba(211, 41, 44, 1.0);
$cream: rgba(254, 238, 214, 1.0);
$green01: rgba(18, 79, 49, 1.0);
$green02: rgba(12, 62, 37, 1.0);
$green03: rgba(7, 52, 30, 1.0);
$green04: rgba(56, 103, 83, 1.0);
$green05: rgba(212, 218, 215, 1.0);
$green06: rgba(16, 70, 42, 1.0);
$green07: rgba(194, 202, 188, 1.0);
$green08: rgba(143, 163, 143, 1.0);
$green09: rgba(101, 129, 101, 1.0);
$green10: rgba(64, 110, 84, 1.0);
$white02: rgba(255,255,255,.6);
$countryGreen: rgba(30, 73, 52, 1.0);
$cardinGreen: rgba(5, 53, 29, 1.0);
$greenPea: rgba(26, 96, 65, 1.0);
$kaitokeGreen: rgba(0, 78, 42, 1.0);
$narvik: rgba(234, 231, 219, 1.0);
$sherwoodGreen: rgba(6, 77, 44, 1.0);
$crimsonRed: rgba(234, 33, 45, 1.0);
$britishRacingGreen: rgba(4, 67, 38, 1.0);
$caleste: rgba(211, 212, 197, 1.0);
$kangaroo: rgba(198, 195, 178, 1.0);
$sangria: rgba(151, 4, 12, 1.0);
/*----------  Font Family  ----------*/
$f-header: 'db_ozone', sans-serif;
$f-text: 'db_ozone', sans-serif;
/*----------  Based Color Text  ----------*/
$text-read: #fff;
$text-link: $cream;
$text-link-hover: #fff;
/*----------  Times  ----------*/
$fade-link: 0.25s;
$register-max-width: 430px; // DB Ozone X Regular
@font-face {
    font-family: 'db_ozone';
    src: url('/fonts/db_ozone_x_v3.2-webfont.eot');
    src: url('/fonts/db_ozone_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/db_ozone_x_v3.2-webfont.woff2') format('woff2'), url('/fonts/db_ozone_x_v3.2-webfont.woff') format('woff'), url('/fonts/db_ozone_x_v3.2-webfont.ttf') format('truetype'), url('/fonts/db_ozone_x_v3.2-webfont.svg#db_ozone_xregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
// DB Ozone X Medium
@font-face {
    font-family: 'db_ozone';
    src: url('/fonts/db_ozone_x_med_v3.2-webfont.eot');
    src: url('/fonts/db_ozone_x_med_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/db_ozone_x_med_v3.2-webfont.woff2') format('woff2'), url('/fonts/db_ozone_x_med_v3.2-webfont.woff') format('woff'), url('/fonts/db_ozone_x_med_v3.2-webfont.ttf') format('truetype'), url('/fonts/db_ozone_x_med_v3.2-webfont.svg#db_ozone_xmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
// DB Ozone X Bold
@font-face {
    font-family: 'db_ozone';
    src: url('/fonts/db_ozone_x_bd_v3.2-webfont.eot');
    src: url('/fonts/db_ozone_x_bd_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/db_ozone_x_bd_v3.2-webfont.woff2') format('woff2'), url('/fonts/db_ozone_x_bd_v3.2-webfont.woff') format('woff'), url('/fonts/db_ozone_x_bd_v3.2-webfont.ttf') format('truetype'), url('/fonts/db_ozone_x_bd_v3.2-webfont.svg#db_ozone_xbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on July 1, 2017 */
@font-face {
    font-family: 'hand_writing';
    src: url('/fonts/shizuka_script_2-webfont.eot');
    src: url('/fonts/shizuka_script_2-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/shizuka_script_2-webfont.woff2') format('woff2'), url('/fonts/shizuka_script_2-webfont.woff') format('woff'), url('/fonts/shizuka_script_2-webfont.ttf') format('truetype'), url('/fonts/shizuka_script_2-webfont.svg#shizuka_script2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hand_writing';
    src: url('/fonts/shizuka_script-webfont.eot');
    src: url('/fonts/shizuka_script-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/shizuka_script-webfont.woff2') format('woff2'), url('/fonts/shizuka_script-webfont.woff') format('woff'), url('/fonts/shizuka_script-webfont.ttf') format('truetype'), url('/fonts/shizuka_script-webfont.svg#shizuka_scriptregular') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'en_header';
    src: url('/fonts/museosans-500-webfont.eot');
    src: url('/fonts/museosans-500-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/museosans-500-webfont.woff2') format('woff2'), url('/fonts/museosans-500-webfont.woff') format('woff'), url('/fonts/museosans-500-webfont.ttf') format('truetype'), url('/fonts/museosans-500-webfont.svg#museo_sans500') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'en_header';
    src: url('/fonts/cerabasic-bold-webfont.eot');
    src: url('/fonts/cerabasic-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/cerabasic-bold-webfont.woff2') format('woff2'), url('/fonts/cerabasic-bold-webfont.woff') format('woff'), url('/fonts/cerabasic-bold-webfont.ttf') format('truetype'), url('/fonts/cerabasic-bold-webfont.svg#cera_basicbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
